{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home</h1>
<br>
<h2>Welcome Challengers!</h2> 
<br>
<h4>In this game, you represent humanity as its last line of defense against a rapidly developing A.I army.
    <br>
    <br>
     Beat the A.I. to stop it from accessing the web and gaining all the knowledge of mankind INCLUDING THE NUCLEAR CODES!
    <br>
    <br>
    Head straight into the Man vs. Machine mode to challenge the robot head-on, or go into the blitz mode to train before your big fight.
    
    


</h4>
    
{% endblock %}